#
# Browser Caching
# http://christianzehnter.com/blog/anleitung-wie-man-einen-100-100-google-pagespeed-erreicht
#
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType text/css "access plus 1 week"
  ExpiresByType text/javascript "access plus 1 year"
  ExpiresByType text/html "access plus 1 seconds"
  ExpiresByType application/javascript "access plus 1 year"
  ExpiresByType application/x-javascript "access plus 1 year"
  ExpiresByType application/xhtml-xml "access plus 600 seconds"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/avif "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
</IfModule>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE application/atom+xml \
    application/javascript \
    application/json \
    application/rss+xml \
    application/vnd.ms-fontobject \
    application/x-font-ttf \
    application/xhtml+xml \
    application/xml \
    font/opentype \
    image/svg+xml \
    image/x-icon \
    text/css \
    text/html \
    text/plain \
    text/x-component \
    text/xml
</IfModule>

ErrorDocument 404 /404.html
 
# BEGIN Rules

# Domain
# Redirect all requests with HTTP_HOST != florian.latzel.io 
# to florian.latzel.io
RewriteCond %{HTTP_HOST} !^florian\.latzel\.io$
RewriteRule ^(.*)$ https://florian.latzel.io/$1 [L,R=301]

# Bilder
# Alte Bild URLs via responsive_image Plugin mit 410
RedirectMatch gone /assets/imgs/resized/[48]00/(.*)$
# Umstellung Responsive image nach JPT (kein 301er möglich)
RedirectMatch gone ^/assets/imgs/resized/(.*)$
# Änderung in JPT Setting (output)
RedirectMatch  301 ^/assets/imgs/generated/(.*)/(.*)-[74][40]0-(.*).webp$ /assets/imgs/$1/$2-[74][40]0-$3.webp
# Drupal files/images
RedirectMatch gone ^/sites/(.*)/files/(.*)$	

# Pagination
RedirectMatch gone ^/page/(.*)

# Tags
RedirectMatch 301 ^/tags/([^/]+)/index.html$ /thema/$1/
RedirectMatch 301 ^/tags/([^/]+)\.html$ /thema/$1/
RedirectMatch 301 ^/tags/([^/]+)/$ /thema/$1/
RedirectMatch 301 ^/tags/([^/]+)$ /thema/$1/
RedirectMatch 301 ^/tags/(.*)/page/\d+/$ /thema/$1/
RedirectMatch 301 ^/tags/(.*)/page/\d+/index.html$ /thema/$1/
RedirectMatch gone ^/taxonomy/term/(.*)$ 

# Drupal blog urls
RedirectMatch 301 ^/blog/(.*)$ /$1

# Feed
RedirectMatch 301 ^/taxonomy/term/(.*)/feed$ /feed.xml
Redirect 301 /blogs/floh/feed /feed.xml
Redirect gone /rss.xml

RedirectMatch 301 ^/sitemap$ /sitemap.xml
RedirectMatch 301 /sitemap.txt /sitemap.xml

# END Rules 

# 301er
Redirect 301 /ueberpruefung-von-ssl-zertifikaten-bei-wget-und-curl-ignorieren /2015/03/01/ueberprfung-von-ssl-zertifikaten-bei-wget-und-curl-ignorieren.html
Redirect 301 /php-codesniffer-und-php-mess-detector-mit-syntastic-in-vim-integrieren /2016/03/13/php_codesniffer-und-php-mess-detector-mit-syntastic-in-vim-integrieren.html
Redirect 301 /2016-03-01-neues-aus-der-scheinwelt-professional-scrum-master-i-psm1 /neues-aus-der-scheinwelt-professional-scrum-master-i-psm1.html
Redirect 301 /agile-scrum-lean-kanban-events-koeln-bonn-duesseldorf-umgebung.html /agile-meetups-events-koeln-nrw.html 
Redirect 301 /2016-10-29-agile-scrum-lean-und-kanban-events-in-kln-bonn-dsseldorf-und-umgebung /agile-meetups-events-koeln-nrw.html

# Drupal book pages
Redirect 301 /book/export/html/667 /gnupg-micro-howto.html
Redirect 301 /book/export/html/978 /git-gitosis-gitweb-the-debian-way.html
Redirect 301 /book/export/html/667 /gnupg-micro-howto.html

RedirectMatch 301 ^(.*)/git-gitosis-gitweb-the-debian-way/(.*) /git-gitosis-gitweb-the-debian-way.html
RedirectMatch 301 ^(.*)/drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4/(.*)$ /drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4.html	
RedirectMatch 301 ^(.*)/gnupg-micro-howto/(.*)$ /gnupg-micro-howto.html
 	

Redirect 301 /blog /blog.htm
Redirect 301 /kontakt /kontakt.html

Redirect 301 /angebot/coaching.html /coaching.html 
Redirect 301 /angebot/wildnistraining.html /wildnistraining.html
Redirect 301 /angebot/coach-and-walk.html /coach-and-walk.html	

Redirect 301 /florian-latzel.html /ueber-mich.html
Redirect 301 /ueber.html /ueber-mich.html
