#
# Browser Caching
# http://christianzehnter.com/blog/anleitung-wie-man-einen-100-100-google-pagespeed-erreicht
#
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType text/css "access plus 1 week"
  ExpiresByType text/javascript "access plus 1 year"
  ExpiresByType text/html "access plus 1 seconds"
  ExpiresByType application/javascript "access plus 1 year"
  ExpiresByType application/x-javascript "access plus 1 year"
  ExpiresByType application/xhtml-xml "access plus 600 seconds"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/avif "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
</IfModule>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE application/atom+xml \
    application/javascript \
    application/json \
    application/rss+xml \
    application/vnd.ms-fontobject \
    application/x-font-ttf \
    application/xhtml+xml \
    application/xml \
    font/opentype \
    image/svg+xml \
    image/x-icon \
    text/css \
    text/html \
    text/plain \
    text/x-component \
    text/xml
</IfModule>

ErrorDocument 404 /404.html
 
# Domain
# Redirect all requests with HTTP_HOST != florian.latzel.io to florian.latzel.io
RewriteCond %{HTTP_HOST} !^florian\.latzel\.io$
RewriteRule ^(.*)$ https://florian.latzel.io/$1 [L,R=301]

#########
# 410er #
#########

# Alte Bild URLs via responsive_image Plugin mit 410
RedirectMatch gone ^/assets/imgs/resized/
# Drupal files und images
RewriteRule ^sites/netzaffe\.de/files/.*$ - [G,L]
# Drupal image module
RewriteRule ^fotos/.*$ - [G,L]
# 410er Pagination
RedirectMatch gone ^/page/(.*)

# Drupal taxonomy
RedirectMatch gone ^/taxonomy/term/ 

# 410 Misc

# Drupal-Projekte in Git
Redirect gone /node/1608
Redirect gone /drush-die-drupal-shell/drushrc-php.html
Redirect gone /thema/drupalcamp-ruhr/
Redirect gone /2008/09/27/web2nulliger-projektleiter-sven-plaggemeier-ueber-den-launch-von-beta-koeln-de.html 
Redirect gone /drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4/drush-in-einer-multisite-umgebung/multisite-features-unter-drupal-7-x-1
Redirect gone /drush-die-drupal-shell/weiterfuehrende-links-zu-drush.html
Redirect gone /2008/12/09/2-advent-voll-was-auf-die-ohren.html


#########
# 301er #
#########

# Änderung in JPT Setting (output)
RedirectMatch  301 ^/assets/imgs/generated/(.*)/(.*)-[74][40]0-(.*).webp$ /assets/imgs/$1/$2-[74][40]0-$3.webp

# Legacy blog urls: /blog/YYYY/MM/DD/title.html → /YYYY/MM/DD/title.html
RewriteRule ^blog/(.*)$ /$1 [R=301,L]

# Legacy Tags urls: /tags/jekyll/ → /thema/jekyll/
RedirectMatch 301 ^/tags/([^/]+)/index.html$ /thema/$1/
RedirectMatch 301 ^/tags/([^/]+)\.html$ /thema/$1/
RedirectMatch 301 ^/tags/([^/]+)/$ /thema/$1/
RedirectMatch 301 ^/tags/([^/]+)$ /thema/$1/
RewriteRule ^tags/([^/]+)/page/[0-9]+/?$ /thema/$1/ [R=301,L]

# Feed
RedirectMatch 301 ^/taxonomy/term/(.*)/feed$ /feed.xml
Redirect 301 /blogs/floh/feed /feed.xml
Redirect 301 /rss.xml /feed.xml

Redirect 301 /themen /themen.html

# 301er: Drupal book pages 

# Git, Gitosis, Gitweb (the Debian way)
Redirect 301 /node/990 /git-gitosis-gitweb-the-debian-way.html
Redirect 301 /book/export/html/978 /git-gitosis-gitweb-the-debian-way.html
Redirect 301 /book/export/html/987 /git-gitosis-gitweb-the-debian-way.html
Redirect 301 /book/export/html/981 /git-gitosis-gitweb-the-debian-way.html
Redirect 301 /book/export/html/985 /git-gitosis-gitweb-the-debian-way.html
Redirect 301 /book/export/html/983 /git-gitosis-gitweb-the-debian-way.html
Redirect 301 /book/export/html/980 /git-gitosis-gitweb-the-debian-way.html

RewriteRule ^git-gitosis-gitweb-the-debian-way/.*$ /git-gitosis-gitweb-the-debian-way.html [R=301,L]

# GnuPG Micro Howto
Redirect 301 /node/679 /gnupg-micro-howto.html
Redirect 301 /book/export/html/667 /gnupg-micro-howto.html
Redirect 301 /book/export/html/679 /gnupg-micro-howto.html
Redirect 301 /book/export/html/685 /gnupg-micro-howto.html
Redirect 301 /book/export/html/680 /gnupg-micro-howto.html

Redirect 301 /2008/11/27/gnupg-micro-howto/die-schluesselerstellung.html /gnupg-micro-howto.html
Redirect 301 /2008/11/27/gnupg-micro-howto/konfiguration/konfiguration-von-gnupg.html /gnupg-micro-howto.html
Redirect 301 /2008/11/27/gnupg-micro-howto/arbeiten-mit-gnupg/schluessel-widerrufen.html /gnupg-micro-howto.html

RewriteRule ^2008/11/28/gnupg-micro-howto/.*$ /gnupg-micro-howto.html [R=301,L]
RewriteRule ^gnupg-micro-howto/.*$ /gnupg-micro-howto.html [R=301,L]

# Drupal 6 Multisiteumgebung mit PostgreSQL unter Debian 4
Redirect 301 /node/689 /drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4.html
Redirect 301 /book/export/html/520 /drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4.html

RewriteRule ^2008/11/28/gnupg-micro-howto/.*$ /gnupg-micro-howto.html [R=301,L]
RewriteRule ^2008/11/27/gnupg-micro-howto/.*$ /gnupg-micro-howto.html [R=301,L]
RewriteRule ^gnupg(-gpg)?-micro-howto/.*$ /gnupg-micro-howto.html [R=301,L]

# Drupal 6 Multisiteumgebung mit PostgreSQL unter Debian 4
Redirect 301 /node/689 /drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4.html

Redirect 301 /book/export/html/702 /drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4.html
Redirect 301 /book/export/html/707 /drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4.html
Redirect 301 /book/export/html/717 /drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4.html
Redirect 301 /book/export/html/529 /drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4.html
Redirect 301 /book/export/html/522 /drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4.html
Redirect 301 /book/export/html/523 /drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4.html
Redirect 301 /book/export/html/707 /drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4.html

Redirect 301 /2009/02/05/drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4/drush-einer-multisiteumgebung.ht /drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4.html
Redirect 301 /2008/09/30/drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4/konfiguration/neustart-von-apach /drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4.html

RewriteRule ^(?:[0-9]{4}/[0-9]{2}/[0-9]{2}/)?drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4(?:/.*)?$ /drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4.html [R=301,L]

# Multisite Features unter Drupal 7.x
Redirect 301 /book/export/html/1591 /multisite-features-unter-drupal-7-x.html

# 301er: Posts

# Meetup Sammlung
Redirect 301 /agile-scrum-lean-kanban-events-koeln-bonn-duesseldorf-umgebung.html /agile-meetups-events-koeln-nrw.html 
Redirect 301 /2016-10-29-agile-scrum-lean-und-kanban-events-in-kln-bonn-dsseldorf-und-umgebung /agile-meetups-events-koeln-nrw.html

# Andere Posts
Redirect 301 /2014/11/26/svn-ueber-ssh-unter-linux-username-bei-svn-checkout-angeben.html /2014/11/26/svnssh-unter-linux-username-bei-svn-checkout-angeben.html
Redirect 301 /ueberpruefung-von-ssl-zertifikaten-bei-wget-und-curl-ignorieren /2015/03/01/ueberprfung-von-ssl-zertifikaten-bei-wget-und-curl-ignorieren.html
Redirect /2010/12/11/arbeit-sparen-mit-cluster-ssh.html /2010/12/10/arbeit-sparen-mit-cluster-ssh.html
Redirect 301 /drupal-und-apache-2-4-x-unter-debian-testing-jessie /2014/10/20/drupal-und-apache-2-4-x-unter-debian-testing-jessie.html
Redirect 301 /eine-einfuehrung-scrum-vortrag-auf-dem-drupalcamp-muenchen-2016.html /scrum-45-minuten-drupalcamp-muenchen-2016.html
Redirect 301 /scrum-in-45-minuten-drupalcamp-muenchen-2016.html /scrum-45-minuten-drupalcamp-muenchen-2016.html
Redirect 301 /zitate/aboutblank.html /2008/10/09/aboutblank.html
Redirect 301 /ein-experiment-drupalcamp-goes-barcamp /2018/03/27/ein-experiment-drupalcamp-ruhr-goes-barcamp.html
Redirect 301 /scrum-starter-kit /2018/03/03/scrum-starter-kit.html 
Redirect 301 /php-properties-klassenvariablen-doxygen-dokumentieren.html /2014/10/10/php-properties-klassenvariablen-in-doxygen-dokumentieren.html
Redirect 301 /php-properties-klassenvariablen-doxygen-dokumentieren /2014/10/10/php-properties-klassenvariablen-in-doxygen-dokumentieren.html
Redirect 301 /git-gitosis-gitweb-the-debian-way/konfiguraton-von-gitweb/virtual-host-fuer-gitweb-anlegen/htaccess-mit-authentifizierung-an-ein /2010/02/08/htaccess-mit-authentifizierung-an-einer-mysql-datenbank-drupal.html
Redirect 301 /drupal-und-apache-2-4-x-unter-debian-testing-jessie /2014/10/20/drupal-und-apache-2-4-x-unter-debian-testing-jessie.html
Redirect 301 /2009/05/12/drush-drupalmediacamp-prsentation.html /2009/05/12/drush-drupalmediacamp-praesentation.html
Redirect 301 /2009/01/15/schn-sick-on-the-right-side-of-rhine.html /2009/01/15/schoen-sick-on-the-right-side-of-rhine.html
Redirect 301 /2009/04/24/codefolding-fuer-smb-conf-in-vim.html /2009/04/24/codefolding-fr-smb-conf-in-vim.html
Redirect 301 /2019/04/05/daily-scrum-daily-questions.html /2019/04/05/daily-scrum-fragen.html
Redirect 301 /2014/11/26/svn-ueber-ssh-unter-linux-username-bei-svn-checkout-angeben.html /2014/11/26/svnssh-unter-linux-username-bei-svn-checkout-angeben.html
Redirect 301 /2016-03-01-neues-aus-der-scheinwelt-professional-scrum-master-i-psm1 /neues-aus-der-scheinwelt-professional-scrum-master-i-psm1.html
Redirect 301 /2012/11/16/drush-sql-dump-hold.html /2012/11/17/drush-sql-dump-hold.html
Redirect 301 /2020/04/07/responsive-image.html /2020/04/07/co2-sparen-responsive-images-lazyload-jekyll.html
Redirect 301 /php-codesniffer-und-php-mess-detector-mit-syntastic-in-vim-integrieren /2016/03/13/php_codesniffer-und-php-mess-detector-mit-syntastic-in-vim-integrieren.html
Redirect 301 /2008/10/08/updates-fr-drupal-5-und-6.html /2008/10/08/updates-fuer-drupal-5-und-6.html
Redirect 301 /2008/10/03/kln-mlheim-net-herzlichen-glckwunsch-nachtrglich-zum-dritten.html /2008/10/03/koeln-muelheim-net-herzlichen-glueckwunsch-nachtraeglich-zum-dritten.html
Redirect 301 /2007/08/24/drupal-user-group-kln-bonn-grillen-im-netzladen-bonn.html /2007/08/24/drupal-user-group-koeln-bonn-grillen-im-netzladen-bonn.html
Redirect 301 /2008/10/08/keine-gez-gebuehr-bei-privater-pc-nutzung.html /2008/10/08/keine-gez-gebhr-bei-privater-pc-nutzung.html
Redirect 301 /2008/10/28/drupalcamp-koeln-17-18-januar-2009.html /2008/10/28/drupalcamp-kln-17-18-januar-2009.html
Redirect 301 /2009/02/20/drush-mm-adminrole-workaround-und-tabs-in-firefox.html /2009/02/20/drush_mm-adminrole-workaround-und-tabs-in-firefox.html
Redirect 301 /2011/06/15/drupal-6-x-drupal-7-x-scratching-the-surface-drupal-user-group-koeln-bonn.html /2011/06/15/drupal-6-x-drupal-7-x-scratching-the-surface-drupal-user-group-kln-bonn.html
Redirect 301 /copy-n-paste-bei-gpg-passwoertern-und-pinentry /2015/11/14/copy-n-paste-bei-gpg-passwoertern-und-pinentry.html
Redirect 301 /2012/10/16/hnlichkeiten-in-sql-drupal-db-query-like.html /2012/10/16/aehnlichkeiten-in-sql-drupal-db_query-like.html
Redirect 301 /node/515 /2004/12/22/install-postgres-0-07-sh.html
Redirect 301 /2011/06/15/drupal-6-x-drupal-7-x-scratching-the-surface.html /2011/06/15/drupal-6-x-drupal-7-x-scratching-the-surface-drupal-user-group-koeln-bonn.html
Redirect /2011/06/15/drupal-6-x-drupal-7-x-scratching-the-surface-drupal-user-group-kln-bonn.html /2011/06/15/drupal-6-x-drupal-7-x-scratching-the-surface-drupal-user-group-koeln-bonn.html
Redirect 301 /2009/12/08/drush-und-multisite-drush_multi-dcvie-2009.html /2009/12/08/drush-und-multisite-drush-multi-dcvie-2009.html
Redirect 301 /node/1630 /2014/08/28/facebook-tschoe-mit-oe-mit-oe.html
Redirect 301 /2011/10/05/features-session-dcb11.html /2011/10/05/features-session-drupalcity-de-2011.html
Redirect 301 /florian-fl3a-latzel.html /ueber-mich.html

# Pages
Redirect 301 /florian-latzel /ueber-mich.html
Redirect 301 /florian-latzel.html /ueber-mich.html
Redirect 301 /angebot/wildnistraining.html /wildnistraining.html
Redirect 301 /angebot/coach-and-walk.html /coach-and-walk.html
Redirect 301 /seminare/leadership-goes-wild /seminare/leadership-goes-wild.html

# Bilder
Redirect 301 /assets/imgs/2010-drupaldevdays-munich-luckow-fl3a-scrum-presentation.jpg /assets/imgs/florian-latzel-stephan-luckow-scrum-drupaldevdays-munich-2010.jpg
Redirect 301 /assets/imgs/generated/agile-ruhr-19/open-space-anliegen-vorstellen-agile-ruhr-19-740-899ef22d4.jpg /assets/imgs/agile-ruhr-19/open-space-anliegen-vorstellen-agile-ruhr-19.jpg

# Tags/Thema
Redirect 301 /thema/muellem/ /thema/mullem/
Redirect 301 /thema/schaeael-sick/ /thema/schaael-sick/


