#
# Browser Caching
# http://christianzehnter.com/blog/anleitung-wie-man-einen-100-100-google-pagespeed-erreicht
#
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType text/css "access plus 1 week"
  ExpiresByType text/javascript "access plus 1 year"
  ExpiresByType text/html "access plus 1 seconds"
  ExpiresByType application/javascript "access plus 1 year"
  ExpiresByType application/x-javascript "access plus 1 year"
  ExpiresByType application/xhtml-xml "access plus 600 seconds"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/avif "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
</IfModule>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE application/atom+xml \
    application/javascript \
    application/json \
    application/rss+xml \
    application/vnd.ms-fontobject \
    application/x-font-ttf \
    application/xhtml+xml \
    application/xml \
    font/opentype \
    image/svg+xml \
    image/x-icon \
    text/css \
    text/html \
    text/plain \
    text/x-component \
    text/xml
</IfModule>

ErrorDocument 404 /404.html
 
# BEGIN Rules

# Domain
# Redirect all requests with HTTP_HOST != florian.latzel.io to florian.latzel.io
RewriteCond %{HTTP_HOST} !^florian\.latzel\.io$
RewriteRule ^(.*)$ https://florian.latzel.io/$1 [L,R=301]

# 410er
# 410er Bilder
# Alte Bild URLs via responsive_image Plugin mit 410
RedirectMatch gone /assets/imgs/resized/[48]00/(.*)$
# Umstellung Responsive image nach JPT (kein 301er möglich)
RedirectMatch gone ^/assets/imgs/resized/(.*)$
# Änderung in JPT Setting (output)
RedirectMatch  301 ^/assets/imgs/generated/(.*)/(.*)-[74][40]0-(.*).webp$ /assets/imgs/$1/$2-[74][40]0-$3.webp
# Drupal files/images
RedirectMatch gone ^/sites/(.*)/files/(.*)$	
RedirectMatch gone ^/fotos/(.*)$	

# 410er Pagination
RedirectMatch gone ^/page/(.*)

# Drupal-Projekte in Git
# https://web.archive.org/web/2/drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4.html#drupals-cronphp-absichern0151231185134/http://netzaffe.de/node/1608
#Redirect gone /node/1608
Redirect gone /drush-die-drupal-shell/drushrc-php.html
Redirect gone /thema/drupalcamp-ruhr/

# 301er Tags: s/tags/thema
# $ uberspace web header set florian.latzel.io/tags X-Robots-Tag "noindex"
# >Set header "X-Robots-Tag: noindex" for florian.latzel.io/tags
RedirectMatch 301 ^/tags/([^/]+)/index.html$ /thema/$1/
RedirectMatch 301 ^/tags/([^/]+)\.html$ /thema/$1/
RedirectMatch 301 ^/tags/([^/]+)/$ /thema/$1/
RedirectMatch 301 ^/tags/([^/]+)$ /thema/$1/
RedirectMatch 301 ^/tags/(.*)/page/\d+/$ /thema/$1/
RedirectMatch 301 ^/tags/(.*)/page/\d+/index.html$ /thema/$1/ 
RedirectMatch gone ^/taxonomy/term/(.*)$ 
Redirect 301 /thema/scrumtisch-koeln/ /thema/scrumtisch-koln/

# Drupal blog urls
RedirectMatch 301 ^/blog/(.*)$ /$1

# Feed
RedirectMatch 301 ^/taxonomy/term/(.*)/feed$ /feed.xml
Redirect 301 /blogs/floh/feed /feed.xml
Redirect gone /rss.xml

RedirectMatch 301 ^/sitemap$ /sitemap.xml
RedirectMatch 301 /sitemap.txt /sitemap.xml

# 301er: Drupal book pages
RedirectMatch 301 ^(.*)/gnupg-micro-howto/(.*)$ /gnupg-micro-howto.html
RedirectMatch 301 ^(.*)/git-gitosis-gitweb-the-debian-way/(.*) /git-gitosis-gitweb-the-debian-way.html
RedirectMatch 301 ^(.*)/drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4/(.*)$ /drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4.html	

Redirect 301 /node/990 /git-gitosis-gitweb-the-debian-way.html#ssh-port-und-git-urls
Redirect 301 /book/export/html/667 /gnupg-micro-howto.html
Redirect 301 /book/export/html/978 /git-gitosis-gitweb-the-debian-way.html
Redirect 301 /node/689 /drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4.html#drupals-cronphp-absichern
Redirect 301 /book/export/html/702 /drupal-6-multisiteumgebung-mit-postgresql-unter-debian-4.html#drupals-changelogtxt-absichern
Redirect 301 /book/export/html/679 /gnupg-micro-howto.html#unterschlüssel-mehrere-emailadressen-mit-einem-gpg-key-nutzen
Redirect 301 /node/679 /gnupg-micro-howto.html#unterschlüssel-mehrere-emailadressen-mit-einem-gpg-key-nutzen
Redirect 301 /book/export/html/685 /gnupg-micro-howto.html#gnupggpg-agentconf

# 301er: Posts
Redirect 301 /baerlauch-allium-ursinum.html /baerlauch.html
Redirect 301 /ueberpruefung-von-ssl-zertifikaten-bei-wget-und-curl-ignorieren /2015/03/01/ueberprfung-von-ssl-zertifikaten-bei-wget-und-curl-ignorieren.html
Redirect 301 /php-codesniffer-und-php-mess-detector-mit-syntastic-in-vim-integrieren /2016/03/13/php_codesniffer-und-php-mess-detector-mit-syntastic-in-vim-integrieren.html
Redirect 301 /2016-03-01-neues-aus-der-scheinwelt-professional-scrum-master-i-psm1 /neues-aus-der-scheinwelt-professional-scrum-master-i-psm1.html
Redirect 301 /agile-scrum-lean-kanban-events-koeln-bonn-duesseldorf-umgebung.html /agile-meetups-events-koeln-nrw.html 
Redirect 301 /2016-10-29-agile-scrum-lean-und-kanban-events-in-kln-bonn-dsseldorf-und-umgebung /agile-meetups-events-koeln-nrw.html
Redirect 301 /php-properties-klassenvariablen-doxygen-dokumentieren /2014/10/10/php-properties-klassenvariablen-in-doxygen-dokumentieren.html
Redirect 301 /node/515 /2004/12/22/install-postgres-0-07-sh.html
Redirect 301 /wanderung-bergischer-weg-etappe-4-landrat-lucas-weg.html /2020/05/10/50km-wanderung-burg-opladen-bergischer-weg-etappe-4-landrat-lucas-weg.html
Redirect /2012/11/16/drush-sql-dump-hold.html /2012/11/17/drush-sql-dump-hold.html
Redirect 301 /nlp-practitioner.html /2022/03/31/nlp-practitioner.html
Redirect 301 /2014/11/26/svn-ueber-ssh-unter-linux-username-bei-svn-checkout-angeben.html /2014/11/26/svnssh-unter-linux-username-bei-svn-checkout-angeben.html
Redirect 301 /eine-einfuehrung-scrum-vortrag-auf-dem-drupalcamp-muenchen-2016.html /scrum-45-minuten-drupalcamp-muenchen-2016.html
Redirect 301 /2008/12/14/arrays-der-bash.html /arrays-in-der-bash.html
Redirect 301 /2009/12/08/drush-und-multisite-drush-multi-dcvie-2009.html /2009/12/08/drush-und-multisite-drush_multi-dcvie-2009.html
	
# 301er: Pages
Redirect 301 /blog /blog.html
Redirect 301 /kontakt /kontakt.html
Redirect 301 /contact /kontakt.html
Redirect 301 /jetzt /jetzt.html
Redirect 301 /florian-latzel.html /ueber-mich.html
Redirect 301 /ueber.html /ueber-mich.html
Redirect 301 /partner.html /ueber-mich.html#wegbegleiter
Redirect 301 /angebot/coaching.html /coaching.html 
Redirect 301 /angebot/wildnistraining.html /wildnistraining.html
Redirect 301 /angebot/coach-and-walk.html /coach-and-walk.html
Redirect 301 /wildnistraining.htm /wildnistraining.html
Redirect 301 /angebot/coach-and-walk.html /coach-and-walk.html
Redirect 301 /scrum-master/ /thema/scrum-master/

# 410er: Pages
Redirect 410 /node/1608	

