<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
   	<h2 class="footer-heading">{{ site.data.footer_links_angebot.header }}</h2>
	  <ul>
          {% for item in site.data.footer_links_angebot.links %}
          <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
	</ul>
      </div>
      <div class="footer-col footer-col-2">
        <h2 class="footer-heading">{{ site.data.footer_links_blog.header }}</h2>
        <ul>
          {% for item in site.data.footer_links_blog.links %}
          <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
	</ul>
      </div>
      <div class="footer-col footer-col-3">
        <h2 class="footer-heading">{{ site.data.footer_links_meta.header }}</h2>
        <ul>
          {% for item in site.data.footer_links_meta.links %}
          <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
	</ul>
      </div>
    </div>
    <div class="footer-last"> 
      <p>
      2004 - {{ "now" | date: "%Y" }} 🄯 <a href="{{ site.url }}">Florian Latzel</a>
      </p>
    </div>
  </div>

</footer>
