<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
   	<h2 class="footer-heading">{{ site.data.footer_links_meta.header }}</h2>
	  <ul>
          {% for item in site.data.footer_links_meta.links %}
          <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
	</ul>
      </div>
      <div class="footer-col footer-col-2">
        <h2 class="footer-heading">{{ site.data.footer_links.header }}</h2>
        <ul>
          {% for item in site.data.footer_links.links %}
          <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
	</ul>
      </div>
    </div>
    <div> 
      <p style="color:#828282;font-size:15px;">
        2004 - {{ "now" | date: "%Y" }} Florian Latzel,
	Lizenz der Inhalte: <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de">CC BY-SA 4.0</a>
      </p>
    </div>
  </div>

</footer>
