<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- if page.url contains "/thema/" or page.url contains "/page/" -%}
    {% include paginator_title.liquid %}
    {%- include paginator_meta.liquid -%}
  {%- else -%}
    {%- seo -%}
  {%- endif -%}
  
  {%- feed_meta -%}

  {% include favicon.html %}

  <script src="{{ '/assets/js/lazysizes.min.js'| relative_url }}"></script> 
  {%- if page.url == "/index.html" -%}
  <meta property="og:image" content="{{ "/assets/imgs/florian-latzel-reinblau-teamtreffen-2017-05-19-rkr.jpg" | absolute_url }}">
  {%- endif -%}
  <link type="text/plain" rel="author" href="{{ "/humans.txt" | absolute_url }}" />
</head>
