{% assign image =  path | remove: 'assets/imgs/' %}

{% capture picture %}
<picture>
  <source media="(max-width:450px)" srcset="{% picture ri-mobile {{ image }} %}">
  <source media="(min-width:451px) and (max-width:660px)" srcset="{% picture ri-middle {{ image }} %}">
  <source media="(min-width:661px)" srcset="{% picture ri-full {{ image }} %}">
  <img src="{% picture ri-fallback {{ image }} %}" alt="{{ alt }}">
</picture>
{% endcapture %}


{% if figure %}
<figure role="group">
{{ picture }}
<figcaption>{% if caption %}{{ caption }}{% else %}{{ alt }}{% endif %}</figcaption>
</figure>
{% else %}
{{ picture }}
{% endif %}
