{% assign image =  path | remove: 'assets/imgs/' %}
{% comment %}
Legacy path variable: Remove trailing path which was used for responsive_image gem.
See config.picture.source.
{% endcomment %}

{% capture picture %}
<picture>
  <source media="(max-width:430px)" srcset="{% picture mobile {{ image }} %}" type="image/webp">
  <source media="(min-width:431px)" srcset="{% picture full {{ image }} %}" type="image/webp">
  <img src="{% picture fallback {{ image }} %}" loading="lazy" alt="{{ alt }}">
</picture>
{% endcapture %}

{% if figure %}
<figure role="group">
{{ picture }}
<figcaption>{% if caption %}{{ caption }}{% else %}{{ alt }}{% endif %}</figcaption>
</figure>
{% else %}
  {{ picture }}
{% endif %}
