---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-nav {
  z-index: 1;
}
a.page-link.kontakt {
  display: inline-block;
  padding: 6px 6px;
  margin: 6px 6px;
  background-color: #111;
  color: #fff;
}

.social-media-list {
  display: table;
  margin: 0 auto;
  list-style: none;
  li {
    float: left;
    margin: 0 5px;
    a {
      display: block;
      padding: 7,5px;
      .svg-icon {
         padding-right: 20px;
      }
      svg.email {
        width: 20px;
        height: 20px;
        padding-top: 2px;
      }
      svg.linkedin {
	padding-top: 5px;
      }
    }
  }
}

/* Tags in Artikelansicht */
ul.tags {
  list-style: none;
  margin-left: 0;
  line-height: 2em;

  li {
    display: inline;

    a.tag {
      border: 1px solid;
      padding: 3px;
      margin: 1px;

      font-size: $small-font-size;
    }
  }
}

.post-header {
  margin-bottom: 0;
}

/* Smaller! */
.footnotes, figcaption {
  font-size: 14px
}

/* Code */
figure.highlight {
  pre {
    padding: 0;
    margin-bottom: 0;
  }
  code table {
    margin-bottom: 0;
  }
  td {
    padding: 0px 8px;
    margin-bottom: 0;
  }
}

// Blog/Archiv 
.archiv time,
.archiv hr {
 display:none
}

// Startseite
#front {
// Bild
  figure {
    img {
      display: inline;
      border-radius: 50%;
    }
  }

  // Kunden 
  ul.kunden-logos {
    list-style: none;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  // 2 pro Reihe
  ul.kunden-logos li {
    width: 50%;
    text-align: center;
    padding-bottom: 5px;
  }
  ul.kunden-logos li img {
    width: 70%;
    height: auto;
    webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: gray;
    filter: grayscale(100%);
  }
  ul.kunden-logos li img:hover {
    webkit-filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    filter: grayscale(0);
    transform: scale(1.05);
  }
  #axa img {
    width: 50%;
  }
  #reinblau img {
    width: 55%;
  }
  #naturzeit img, #p1 img, #bib img, #koeln img {
    width: 80%;
  }
  #intro, p.teaser  {
    text-align: left;
  }
  #kontakt-1 {
    clear: left;
  }
}

// Footer
.footer-col {
  margin-bottom: calc($spacing-unit / 3);
  white-space: nowrap;
  ul, li {
    margin-bottom: 15px;
  }
}
.footer-col-1,.footer-col-2, .footer-col-3 {
  width: calc(30% - calc(#{$spacing-unit} / 3));
}
.footer-last {
  color:#828282;
  font-size:15px;
  text-align: left;
}

// Fullscreen
@media all and (min-width: 640px) {
  // Startseite
  #front {
    #intro, #kontakt-1, #kontakt-2, #kunden p, p.teaser {
      text-align:center;
    }
    .social-media-list {
      padding-bottom: 10px
    }
    #portfolio, #kontakt, #kunden, #blog-posts {
      padding-top: 2em;
    }
    // Zweispaltig mit Abstand von erster zu zweiter Spalte	  
    #portfolio {
      .angebot-1-2 {
        float: left;
        width: 48%;
      }
      .angebot-1 {
	margin-right: 4%;
      }
    }

    h2 {
      text-align: center;
    }
    .blog-link {
      padding-top: 10px;
    }
    
    // Startseite/Kunden, 4 pro Reihe
    ul.kunden-logos li {
      width: 25%;
    }
  }

  // Blog/Archiv
  .archiv {
    h2 {
      text-align: right;
      padding: 0;
    }	  
    ul {
      list-style-type: none;
      padding: 0;
      margin-left: 0;
      li {
        display: flex;
        flex-wrap: nowrap;
        grid-gap: .6em;
        margin: .6em 0;
        a {
          text-decoration: none;
          white-space: no-wrap;
          word-spacing: 1px;
        }
      }
    }
    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      flex: 0 1 auto;
    }
    hr {
      display: inherit;
      border: 0;
      border-bottom: 1px dotted;
      opacity: .4;
      min-width: 1.2em;
      flex: auto;
    }
    time {
      display: inherit;
      flex: 0 0 auto;
    }
    .feed-subscribe {
      padding-top: 10px;
    }
  } 
  
  // Themen
  #themen ul {
    margin-left: 0;
    list-style-type: none;
    columns: 3;
  }

  // Footer
  .footer-last {
    text-align: center;
  }
  .footer-col {
    ul, li {
      margin-bottom: 0;
    }
  }
}

