---
title: Blog
layout: page
permalink: /blog.html
---
<div id="blog" class="archiv">
<div class="intro">
Hier findest du alle  <em>{{ site.posts | size }}</em> Beiträge
aus den letzten <em>{{ site.time | date: '%Y' | minus: 2004 }}</em> Jahren.
Hier findest du eine alphabetische Übersicht 
meiner <a href="{% link pages/themen.html %}">Lieblingsthemen</a>.
Meinen Blog kannst du via <a href="/feed.xml">RSS</a> abonnieren.
</div>
{% for post in site.posts %}
{% assign currentDate = post.date | date: "%Y" %}
  {% if currentDate != myDate %}
  {% unless forloop.first %}
  </ul>
  </section>
  {% endunless %}
  <section>
  <h2 aria-lable="Blog posts published in {{ currentDate }}" class="no-anchor">{{ currentDate }}</h2>
  <ul>
  {% assign myDate = currentDate %}
  {% endif %}
  {% assign m = post.date | date: "%-m" | minus: 1 %}
  {% assign month = site.data.de.months[m] | truncate: 3, "" %}
    <li class="h-entry">
      <span class="title p-name">
        <a class="u-url" href="{{ post.url }}">{{ post.title }}</a>
      </span>
      <hr>
      <time class="dt-published" datetime="{{ post.date | date: "%Y-%m-%dT%H:%M:%S"}}">{{ month }} {{ post.date | date: "%d" }}</time>
    </li>
  {% if forloop.last %}
  </ul>
  </section>
  {% endif %}
{% endfor %}
<p class="feed-subscribe">
  <svg class="svg-icon orange">
    <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
  </svg>
  <a href="{{ "/feed.xml" | relative_url }}">Abonnieren</a>
</p>

</div> 
