---
title: Blog
layout: page
permalink: blog.html
---
<div id="blog" class="archiv">

{% for post in site.posts %}
{% assign currentDate = post.date | date: "%Y" %}
  {% if currentDate != myDate %}
  {% unless forloop.first %}
  </ul>
  {% endunless %}
  <h2 class="no-anchor">{{ currentDate }}</h2>
  <ul>
    {% assign myDate = currentDate %}
  {% endif %}
    <li class="h-entry">
      <span class="title p-name">
        <a class="u-url" href="{{ post.url }}">{{ post.title }}</a>
      </span>
      <hr>
      <time class="dt-published" datetime="{{ post.date | date: "%Y-%m-%dT%H:%M:%S"}}">
        {{ post.date | date: "%m.%d"  }}
      </time>
    </li>
  {% if forloop.last %}
  </ul>
  {% endif %}
{% endfor %}

</div> 
