---
title: Themen
layout: page
permalink: /themen.html
---
{% comment %}
Todo:
- Themen Template bauen
- in config einbauen
{% endcomment %}
<div id="themen" class="archiv">
<div class="intro">
Diese Seite listet alle <em>{{ site.tags | size }}</em> Themen 
aus <em>{{ site.time | date: '%Y' | minus: 2004 }}</em> Jahren 
<a href="{% link pages/blog.html %}">Bloggen</a> auf.	
</div>
{% assign alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" | split: "" %}
{% for letter in alphabet %}	  
  {% assign i = 0 %}
  {% for tag in site.tags %}
  {% assign firstletter = tag[0] | slugify | upcase | truncate: 1, '' %}
    {% if letter == firstletter %}
      {% assign i = i | plus: 1 %}  
      {% if i == 1 %}
      <section>
        <h2 aria-label="Themen die mit dem Buchstaben {{ letter }} anfangen" class="no-anchor">
          {{ letter }}
        </h2>
        <ul>
      {% endif %}
          <li> 
            <a href="/thema/{{ tag[0] | slugify: 'latin' }}/">{{ tag[0] | escape }}</a> ({{tag[1] | size}})
          </li>
    {% endif %}
  {% endfor %}
  {% if i != 0 %}
        </ul>
      </section>  
  {% endif %}
{% endfor %}
</div>
