---
title: Themen
layout: page
permalink: /themen.html
---
{% comment %}
Todo:
- Themen Template bauen
- in config einbauen
Roadmap:
- Tag Urls umschreiben von /tags/$1 nach /thema/$1
  - in config ändern
  - in Beträgen die Urls ändern
  - via .htaccess von /tags/$1 nach /thema/$1
{% endcomment %}

<div id="themen">
{% assign alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" | split: "" %}
{% for letter in alphabet %}	  
  {% assign i = 0 %}
  {% for tag in site.tags %}
  {% assign firstletter = tag[0] | slugify | upcase | truncate: 1, '' %}
    {% if letter == firstletter %}
      {% assign i = i | plus: 1 %}  
      {% if i == 1 %}
      <section>
        <h2 aria-label="Themen die mit dem Buchstaben {{ letter }} anfangen" class="no-anchor">
          {{ letter }}
        </h2>
        <ul>
      {% endif %}
          <li> 
            <a href="/tags/{{ tag[0] | slugify: 'latin' }}">{{ tag[0] | escape }}</a> ({{tag[1] | size}})
          </li>
    {% endif %}
  {% endfor %}
  {% if i != 0 %}
        </ul>
      </section>  
  {% endif %}
{% endfor %}
</div>
